body{
    background-color: white; 

}
.container{
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: white;
  
   
    gap: 20px;
    margin: 20px;
    
}


.box1, .box2, .box3, .box4{
   
  
    padding: 20px;
    border-radius: 8px;
    
    width:300px;
    background-color: white;
    margin: 10px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
h1{
    text-align: center;
      border-radius: 8px;
      
}

img{
    width : 300px;
    height : 400px;
    object-fit: contain;
}